.feature_linking_wrapper_links ul .active_profession a {
  font-weight: 700;
  color: var(--amaranth);
}
.active_profession a::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 8px;
  background-image: url("../assets/images/active_right_arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.feature_linking_wrapper {
  display: flex;
}
.feature_linking_wrapper_links {
  width: 22.7%;
  padding: 48px 35px 0px 120px;
  background-color: rgba(234, 245, 245, 0.8);
}
.feature_linking_wrapper_links ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  color: var(--black);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.feature_linking_wrapper_details {
  width: 100%;
}
.feature_linking_wrapper_content {
  position: relative;
}
.feature_linking_wrapper_content img {
  height: 400px;
  width: 100%;
}
.feature_linking_wrapper_background {
  position: absolute;
  width: 50%;
  left: 56px;
  top: 175px;
}
.feature_linking_wrapper_title {
  font-size: 56px;
  color: var(--white);
  margin-bottom: 24px;
  line-height: 110%;
  font-weight: 700;
}
.feature_linking_wrapper_sub-title {
  font-size: 20px;
  color: var(--white);
  line-height: 160%;
  font-weight: 600;
}
.feature_linking_matching_wrapper {
  padding: 70px 120px 80px 56px;
}
.feature_linking_matching_wrapper .title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: var(--black);
  margin-bottom: 56px;
}
.feature_linking_children_wrapper .title {
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  color: var(--blueDianne);
  margin-bottom: 56px;
}
.feature_linking_children_wrapper .title a {
  color: var(--blueDianne);
}
.feature_linking_children_wrapper ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.feature_linking_children_wrapper ul li {
  display: flex;
  padding: 24px;
  width: 47%;
  background-color: var(--catskillWhite);
  border-radius: 20px;
  margin-bottom: 32px;
  box-sizing: border-box;
}
.feature_linking_children_wrapper ul li:first-child {
  margin-right: 56px;
}
.feature_linking_children_wrapper ul li .sub_title_linking span {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  color: var(--black);
}
.feature_linking_children_wrapper ul li .sub_title_linking {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: var(--black);
}
.children_icon {
  width: 44px;
  height: 44px;
  background-color: var(--white);
  border-radius: 100px;
  margin-right: 16px;
  padding: 10px;
}
.children_icon img {
  width: 24px;
  height: 24px;
}
.feature_adoptive_children_wrapper {
  padding: 40px 0 0 0;
  /* border-bottom: 1px solid rgba(230, 42, 80, 0.2); */
}
.linking_journey_table_details tbody tr {
  border-radius: 30px;
}
.linking_journey_table_details th {
  padding: 24px;
  background-color: var(--eden);
  color: var(--white);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: 0.16px;
  text-align: left;
  border-left: 1px solid var(--catskillWhite);
  white-space: nowrap;
}
.linking_journey_table_details th:first-child {
  border-radius: 12px 0 0;
}
.linking_journey_table_details th:last-child {
  border-radius: 0 12px 0 0;
}
.linking_journey_table_details td {
  padding: 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.16px;
  color: var(--black);
  border-left: 1px solid var(--catskillWhite);
}
.linking_journey_table_details tr:nth-child(odd) {
  background-color: var(--blackHaze);
}
.linking_journey_table_details tr:last-child td:first-child {
  border-radius: 0 0 0 12px;
}
.linking_journey_table_details tr:last-child td:last-child {
  border-radius: 0 0 12px 0;
}
.linking_journey_table_details .sub_title {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.16px;
  padding: 56px 0 42px;
  color: var(--tuatara);
}
.linking_journey_table_details .table_title {
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 160%;
  letter-spacing: 0.16px;
  color: var(--tuatara);
  margin-bottom: 16px;
}
.title_mobile {
  display: none;
}
/* Media Query */
@media screen and (max-width: 767px) {
  .feature_linking_wrapper_links,
  .feature_linking_children_wrapper .title_desktop {
    display: none !important;
  }
  .title_mobile {
    display: flex;
  }
  .feature_linking_wrapper_background {
    top: 110px;
    left: 24px;
    width: calc(100% - 48px);
  }
  .feature_linking_wrapper_content img {
    height: 410px;
  }
  .feature_linking_wrapper_title {
    font-size: 36px;
  }
  .linking_journey_table_details {
    width: 100%;
    overflow-x: scroll;
  }
  .feature_linking_matching_wrapper {
    padding: 40px 24px;
  }
  .feature_linking_matching_wrapper .title {
    padding-bottom: 40px;
    margin: 0;
  }
  .feature_linking_children_wrapper .title {
    font-size: 28px;
    display: flex;
    justify-content: space-between;
    line-height: 130%;
  }
  .feature_linking_children_wrapper ul li {
    width: 100%;
    margin-bottom: 24px;
  }
  .feature_adoptive_children_wrapper {
    padding-bottom: 0;
  }
  .feature_adoptive_children_wrapper .title {
    border-bottom: none;
  }
  .feature_linking_children_wrapper ul li:first-child {
    margin-right: 0;
  }
  .linking_journey_table_details .sub_title {
    padding: 40px 0 24px;
  }
  .feature_linking_children_wrapper .title::after {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url("../assets/images/arrow_right.png");
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(90deg);
  }
  .feature_linking_children_wrapper .toggle_linking_adoptive::after,
  .feature_linking_children_wrapper .toggle_linking_children::after {
    transform: rotate(270deg);
  }
  .feature_linking_children_wrapper ul {
    display: none;
  }
  .toggle_linking_children + ul {
    display: flex;
  }
  .toggle_linking_adoptive + ul {
    display: flex;
  }
  .feature_linking_children_wrapper ul li:last-child {
    margin-bottom: 40px;
  }
  .feature_linking_children_wrapper .toggle_linking_children {
    border-bottom: none;
  }
  /* .feature_linking_children_wrapper {
    border-bottom: 1px solid rgba(230, 42, 80, 0.2);
  }  */
  .feature_linking_children_wrapper ul li {
    display: block;
  }
  .children_icon {
    margin: 0 0 16px 0;
  }
}
/* Media Query */
@media screen and (min-width: 768px) and (max-width: 1430px) {
  .feature_linking_wrapper_links {
    padding: 50px 50px 0px 8.34%;
  }
  .feature_linking_matching_wrapper {
    padding: 56px 10.5% 80px 56px;
  }
  .feature_linking_wrapper_background {
    width: 65%;
  }
  .feature_linking_children_wrapper ul li {
    width: 46%;
  }
}
@media screen and (min-width: 1020px) and (max-width: 1300px) {
  .feature_linking_children_wrapper ul li:first-child {
    margin-right: 0px;
  }
}
