.feature_professional_wrapper {
  display: flex;
}
.feature_professional_wrapper_links {
  width: 22.7%;
  padding: 48px 35px 0px 120px;
  background-color: rgba(234, 245, 245, 0.8);
}
.feature_professional_wrapper_links ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  color: var(--black);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.feature_professional_wrapper_links ul .active_profession a {
  font-weight: 700;
  color: var(--amaranth);
}
.active_profession a::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 8px;
  background-image: url("../assets/images/active_right_arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.feature_professional_wrapper_details {
  width: 100%;
}
.feature_professional_wrapper_content {
  position: relative;
}
.feature_professional_wrapper_content img {
  height: 400px;
  width: 100%;
}
.feature_professional_wrapper_background {
  position: absolute;
  width: 42%;
  left: 56px;
  top: 140px;
}
.feature_professional_wrapper_title {
  font-size: 56px;
  color: var(--white);
  font-weight: bold;
  margin-bottom: 24px;
  line-height: 120%;
}
.feature_professional_wrapper_sub-title {
  font-size: 18px;
  color: var(--white);
  line-height: 160%;
}
.book_now {
  color: var(--white);
  background-color: var(--amaranth);
  padding: 16px 32px;
  font-size: 16px;
  border-radius: 30px;
}
.feature_professional_wrapper_upcoming {
  padding: 70px 120px 112px 56px;
}
.upcoming_events_title {
  padding-bottom: 56px;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  color: var(--blueDianne);
}
.upcoming_events_subtitle {
  display: flex;
  justify-content: space-between;
  padding-bottom: 56px;
}
.upcoming_events_subtitle p {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  color: var(--black);
}
.upcoming_events_subtitle p:first-child {
  margin-right: 56px;
}
.upcoming_events_details_card {
  display: flex;
  background-color: var(--catskillWhite);
  border-radius: 30px;
}
.upcoming_events_details_card img {
  width: 458px;
  height: 387px;
}
.upcoming_events_details_content {
  padding: 46px 40px 46px 34px;
}
.upcoming_events_details_content_title {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  color: var(--black);
  margin-bottom: 24px;
}
.upcoming_events_details_content_subtitle {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: var(--black);
  margin: 24px 0 40px;
}
.timing,
.calendar {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  color: var(--black);
}
.timing::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background-image: url("../assets/images/time_icon.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.calendar::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background-image: url("../assets/images/calendar_icon.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.timing_calendar_wrapper {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin-bottom: 40px;
}
.timing_calendar_wrapper img {
  width: 1px;
  height: 20px;
}
.timing {
  margin-right: 24px;
}
.calendar {
  margin-left: 24px;
}
.book_now:hover {
  background-color: var(--maroonFlush);
}
.book_now:active {
  background-color: var(--maroonFlushActive);
}
/* Media Query */
@media screen and (max-width: 767px) {
  .feature_professional_wrapper_links {
    display: none;
  }
  .feature_professional_wrapper {
    display: block;
  }
  .feature_professional_wrapper_content img {
    height: 410px;
  }
  .feature_professional_wrapper_title {
    font-size: 36px;
  }
  .feature_professional_wrapper_background {
    top: 178px;
    left: 24px;
    width: calc(100% - 48px);
  }
  .feature_professional_wrapper_upcoming {
    padding: 40px 24px 80px;
  }
  .upcoming_events_title {
    font-size: 28px;
    padding-bottom: 32px;
  }
  .upcoming_events_subtitle {
    display: block;
  }
  .upcoming_events_subtitle p:first-child {
    margin: 0 0 24px;
  }
  .upcoming_events_details_card {
    display: block;
    width: 100%;
  }
  .upcoming_events_details_card img {
    width: 100%;
    border-radius: 30px;
  }
  .book_now {
    display: block;
    text-align: center;
  }
  .upcoming_events_details_content {
    padding: 24px;
  }
  .upcoming_events_details_content_title {
    margin-bottom: 24px;
  }
  .timing_calendar_wrapper {
    display: block;
    margin-bottom: 24px;
  }
  .timing_calendar_wrapper img {
    display: none;
  }
  .timing {
    margin-bottom: 16px;
  }
  .upcoming_events_details_content_subtitle {
    margin: 16px 0 24px;
  }
  .timing {
    margin-right: 0px;
  }
  .calendar {
    margin-left: 0px;
  }
}
/* Media Query */
@media screen and (min-width: 768px) and (max-width: 1430px) {
  .feature_professional_wrapper_links {
    padding: 50px 50px 0px 8.34%;
  }
  .feature_professional_wrapper_upcoming {
    padding: 56px 10.5% 80px 56px;
  }
  .feature_professional_wrapper_background {
    width: 65%;
  }
}
