.raa {
  font-weight: 800;
}
.feature_raa_wrapper {
  display: flex;
}
.feature_raa_wrapper_links {
  width: 22.5%;
  padding: 50px 35px 0px 120px;
  background-color: rgba(234, 245, 245, 0.8);
  line-height: 24px;
}
.feature_raa_wrapper_details {
  width: 100%;
}
.feature_raa_wrapper_links a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: var(--amaranth);
  white-space: nowrap;
}
.feature_raa_wrapper_links a::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-left: 8px;
  background-image: url("../assets/images/active_right_arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.feature_raa_wrapper_content {
  position: relative;
}
.feature_raa_wrapper_background {
  position: absolute;
  width: 42%;
  left: 56px;
  top: 85px;
}
.feature_raa_wrapper_content img {
  height: 500px;
  width: 100%;
}
.feature_raa_wrapper_title {
  font-size: 56px;
  color: var(--white);
  margin-bottom: 32px;
  line-height: 120%;
  font-weight: 700;
}
.feature_raa_wrapper_sub-title {
  font-size: 20px;
  color: var(--white);
  line-height: 160%;
  font-weight: 600;
}
.feature_raa_wrapper_office {
  display: flex;
  justify-content: space-between;
  padding: 56px 120px 80px 56px;
}
.more_about_raa {
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  padding: 68px 120px 0px 56px;
  color: var(--blueDianne);
}
.feature_raa_wrapper_office p {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  color: var(--black);
}
.feature_raa_wrapper_office img {
  display: block;
  width: 170px;
  height: 44px;
  margin-bottom: 16px;
}
.feature_raa_wrapper_office a {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  color: var(--amaranth);
}
.feature_raa_wrapper_office a::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 8px;
  background-image: url("../assets/images/show_next_page_logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
/* Media Query */
@media screen and (max-width: 767px) {
  .feature_raa_wrapper_links {
    display: none;
  }
  .feature_raa_wrapper {
    display: block;
  }
  .feature_raa_wrapper_content img {
    height: 410px;
  }
  .feature_raa_wrapper_background {
    width: calc(100% - 48px);
    left: 24px;
    top: 80px;
  }
  .feature_raa_wrapper_title {
    font-size: 36px;
    margin-bottom: 24px;
  }
  .feature_raa_wrapper_office {
    display: block;
    padding: 40px 24px 80px;
  }
  .more_about_raa {
    font-size: 28px;
    padding: 40px 24px 0;
  }
  .feature_raa_wrapper_office p {
    width: 100%;
  }
}
/* Media Query */
@media screen and (min-width: 768px) and (max-width: 1430px) {
  .feature_raa_wrapper_links {
    padding: 50px 50px 0px 8.34%;
  }
  .feature_raa_wrapper_office {
    padding: 56px 10.5% 80px 56px;
  }
  .more_about_raa {
    padding: 68px 8.34% 0px 56px;
  }
  .feature_raa_wrapper_background {
    width: 65%;
  }
}
/* Media Query of Edge Case */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .feature_raa_wrapper {
    padding: 0;
    align-items: inherit;
  }
  .feature_raa_wrapper_links {
    padding: 48px 15px 0px 15px;
  }
  .more_about_raa {
    padding: 68px 30px 0px 30px;
  }
  .feature_raa_wrapper_office {
    padding: 56px 30px 80px 30px;
  }
  .feature_raa_wrapper_background {
    width: 80%;
    left: 30px;
  }
  .feature_raa_wrapper_content {
    margin: 0;
  }
  .feature_raa_wrapper_links a::after {
    content: none;
  }
}
/* Media Query of Edge Case */