.feature_resource_wrapper {
  display: flex;
}
.feature_resource_wrapper_links {
  width: 22.9%;
  font-size: 18px;
  color: var(--black);
  padding: 48px 24px 0px 120px;
  background-color: rgba(234, 245, 245, 0.8);
}
.feature_resource_wrapper_details {
  width: 100%;
}
.feature_raa_wrapper_links::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-left: 8px;
  background-image: url("../assets/images/active_right_arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.feature_resource_wrapper_content {
  position: relative;
}
.feature_resource_wrapper_background {
  position: absolute;
  width: 42%;
  left: 56px;
  top: 140px;
}
.feature_resource_wrapper_content img {
  height: 400px;
  width: 100%;
}
.feature_resource_wrapper_title {
  font-size: 56px;
  color: var(--white);
  font-weight: 700;
  margin-bottom: 24px;
  line-height: 110%;
}
.feature_resource_wrapper_sub-title {
  font-size: 20px;
  color: var(--white);
  line-height: 160%;
  font-weight: 600;
}
.feature_reports_profession_wrapper {
  padding: 70px 120px 80px 56px;
}
.feature_reports_wrapper {
  padding-bottom: 56px;
  border-bottom: 1px solid rgba(232, 42, 80, 0.2);
}
.feature_reports_wrapper_title {
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
  color: var(--blueDianne);
  margin-bottom: 56px;
}
.feature_reports_wrapper_detail {
  display: flex;
  justify-content: space-between;
}
.feature_reports_wrapper_content {
  width: 50%;
  border-radius: 16px;
  background-color: var(--catskillWhite);
}
.feature_reports_wrapper_content img {
  width: 100%;
  height: 296px;
  border-radius: 16px 16px 0 0;
}
.feature_reports_wrapper_detail p:first-child {
  margin-right: 56px;
}
.feature_reports_wrapper_content span {
  display: inline-block;
}
.feature_reports_wrapper_content_title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.48px;
  color: var(--blueDianne);
  padding: 32px 32px 16px 32px;
}
.feature_reports_wrapper_content_sub_title {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: var(--black);
  padding: 0px 32px 16px 32px;
}
.feature_reports_wrapper_content a {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  color: var(--amaranth);
  margin: 0px 32px 32px;
}
.feature_reports_wrapper_content a::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 8px;
  background-image: url("../assets/images/arrow_right.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.feature_reports_wrapper_content a:focus::after {
  background-image: url("../assets/images/arrow_down_black.png");
  transform: rotate(-90deg);
}
.feature_profession_wrapper {
  border-bottom: none;
  padding-bottom: 0;
  padding-top: 56px;
}
.feature_resource_links a {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: var(--black);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.feature_resource_links li:first-child {
  padding-bottom: 40px;
}
/* .feature_resource_links a::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 8px;
  background-image: url("../assets/images/arrow_down_black.png");
  background-repeat: no-repeat;
  background-size: contain;
} */
.feature_reports_wrapper_content a:hover {
  color: var(--maroonFlush);
}
.feature_reports_wrapper_content a:active {
  color: var(--maroonFlushActive);
}
/* Media Query */
@media screen and (max-width: 767px) {
  .feature_resource_wrapper {
    display: block;
  }
  .feature_resource_wrapper_content {
    width: 100%;
  }
  .feature_resource_wrapper_links {
    display: none;
  }
  .feature_resource_wrapper_background {
    width: calc(100% - 48px);
    left: 24px;
    top: 178px;
  }
  .feature_resource_wrapper_content img {
    height: 410px;
  }
  .feature_resource_wrapper_title {
    font-size: 36px;
  }
  .feature_reports_profession_wrapper {
    padding: 40px 24px 40px;
  }
  .feature_reports_wrapper {
    padding-bottom: 40px;
  }
  .feature_reports_wrapper_title,
  .feature_reports_wrapper_title {
    font-size: 28px;
    margin-bottom: 40px;
  }
  .feature_reports_wrapper_detail {
    display: block;
  }
  .feature_reports_wrapper_content {
    width: 100%;
    margin-right: 0;
  }
  .feature_reports_wrapper_detail p:first-child {
    margin-bottom: 24px;
    margin-right: 0;
  }
  .feature_profession_wrapper {
    padding-top: 40px;
  }
  .feature_reports_wrapper_content {
    margin-right: 0;
  }
}
/* Media Query */
